*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

main {
  padding: 1em;
  max-width: 600px;
  margin: 0 auto;
}

section {
  margin: 2em 0;
  border: 2px solid #ddd;
  border-radius: 1em;
  padding: 1em;
}
/* Maria's Task
Please implement some rules for a nice styling. At least the text should be aligned
in the center and the font color should be cornflowerblue.
*/
h2 {
  text-align: center;
  color: cornflowerblue;
  text-decoration: underline;
}

.title {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  padding: 14px 20px;
  background-color: #dbdbe4;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.menu > li {
  color: #334;
}

.menu > li:hover {
  text-decoration: underline #ee4c0b 3px;
}

.button {
}
